body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e3e3;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#header {
    text-align: center;
    padding: 20px;
    background-color: #4c7db2;
    color: white;
}

#search-form,
#weather-container,
#search-container {
    text-align: center;
}

input {
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #4c7db2;
    color: #fff;

}

button:hover {
    background-color: #284b73;
}

#weather-container {
    display: none;
}

.forecast-item {
    margin: 10px;
    padding: 10px;
    background-color: #c8c4c4;
    display: inline-block;
    text-align: center;
}

ul {
    list-style-type: none;
}